@model FedoraPhoto.Models.Seance

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûrs de vouloir supprimer ceci?</h3>
<div>
    <h4>Seance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agent.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photographe.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photographe.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSeance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la Liste", "Index")
        </div>
    }
</div>
