@model PagedList.IPagedList<FedoraPhoto.Models.Seance>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<p>
    @Html.ActionLink("Trier par Statut", "Index", new { sortOrder = "statut" })
</p>
<table class="table">
    <tr>
        <th>
            Nom Agent
        </th>
        <th>
            Nom Photographe
        </th>
        <th>
            @Html.ActionLink("Date Séance", "Index", new { sortOrder = "date_desc" })
        </th>
        <th>
            Adresse
        </th>
        <th>
            Téléphone 1
        </th>
        <th>
            Téléphone 2
        </th>
        <th>
            Téléphone 3
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.Statut == "demandée")
            {
                <text>
                <tr bgcolor="#ff893d">
                </text>
            }
            @if (item.Statut == "Confirmée")
            {
                <text>
                <tr bgcolor="#95FF95">
                </text>
            }
            @if (item.Statut == "Reportée")
            {
                <text>
                <tr bgcolor="#ff3d3d">
                </text>
            }
            @if (item.Statut == "Réalisé")
            {
                <text>
                <tr bgcolor="#3d9aff">
                </text>
            }
            @if (item.Statut == "Livrée")
            {
                <text>
                <tr bgcolor="#C2C06E">
                </text>
            }
            @if (item.Statut == "Facturée")
            {
                <text>
                <tr bgcolor="#C7C7C7">
                </text>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Agent.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photographe.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSeance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone3)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.SeanceID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SeanceID }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.SeanceID }) |
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, sortOrder = ViewBag.CurrentSort }))

<div style="width:100%">
    <div style="float:left;margin-right:5px"><div style="float:left;background-color:#ff893d;height:20px;width:20px"></div><p style="float:left;width:50%;margin-left:5px">Demandé</p></div>
    <div style="float:left;margin-right:5px"><div style="float:left;background-color:#95FF95;height:20px;width:20px"></div><p style="float:left;width:50%;margin-left:5px">Confirmée</p></div>
    <div style="float:left;margin-right:5px"><div style="float:left;background-color:#ff3d3d;height:20px;width:20px"></div><p style="float:left;width:50%;margin-left:5px">Reportée</p></div>
    <div style="float:left;margin-right:5px"><div style="float:left;background-color:#3d9aff;height:20px;width:20px"></div><p style="float:left;width:50%;margin-left:5px">Réalisé</p></div>
    <div style="float:left;margin-right:5px"><div style="float:left;background-color:#C2C06E;height:20px;width:20px"></div><p style="float:left;width:50%;margin-left:5px">Livrée</p></div>
    <div style="float:left;margin-right:5px"><div style="float:left;background-color:#C7C7C7;height:20px;width:20px"></div><p style="float:left;width:50%;margin-left:5px">Facturé</p></div>
</div>
