@model IEnumerable<FedoraPhoto.Models.Facture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seance.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FraisDeplacement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FraisVisiteVirtuelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FraisTVQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FraisTPS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seance.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FraisDeplacement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FraisVisiteVirtuelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FraisTVQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FraisTPS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FactureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FactureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FactureID })
        </td>
    </tr>
}

</table>
