@model FedoraPhoto.Models.Photo

@{
    ViewBag.Title = "Modifier";
}

<h2>Modifier</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seance.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seance.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.PhotoID }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
